{% extends 'base.html' %}
{% load static %}

<body class="body__wrapper">
    <main class="main_wrapper overflow-hidden">
        {% block  content %}
        <div class="breadcrumbarea">

            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content__wraper" data-aos="fade-up">
                            <div class="breadcrumb__title">
                                <h2 class="heading">Course Details</h2>
                            </div>
                            <div class="breadcrumb__inner">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li>Course Details</li>
                                </ul>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="shape__icon__2">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__1" src="{% static 'img/herobanner/herobanner__1.png' %}" alt="photo">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__2" src="{% static 'img/herobanner/herobanner__2.png' %}" alt="photo">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__3" src="{% static 'img/herobanner/herobanner__3.png' %}" alt="photo">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__4" src="{% static 'img/herobanner/herobanner__5.png' %}" alt="photo">
            </div>

        </div>
        <!-- breadcrumbarea__section__end-->

        <div class="blogarea__2 sp_top_100 sp_bottom_100">
            <div class="container">
                <div class="row">

                    <div class="col-xl-8 col-lg-8">

                        <div class="blogarae__img__2 course__details__img__2" data-aos="fade-up">
                            <img loading="lazy" src="{{ course.course_image.url }}" alt="Course Image">
                        </div>
                        

                        <div class="blog__details__content__wraper">
                            <div class="course__button__wraper" data-aos="fade-up">
                                <div class="course__button">
                                    <a href="#">Featured</a>
                                    <a class="course__2" href="#">Ux Design</a>
                                </div>
                                <div class="course__date">
                                    <p>Last Update: <span>{{ course.start_date }}</span></p>
                                </div>
                            </div>
                            <div class="course__details__heading" data-aos="fade-up">
                                <h3>{{ course.title }}</h3>
                            </div>
                            <div class="course__details__price" data-aos="fade-up">
                                <ul>
                                    <li>
                                        <div class="course__price">
                                            ${{ course.discounted_price }} <del>/ ${{ course.free_regular_price }}</del>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="course__details__date">
                                            <i class="icofont-book-alt"></i> 30 Lessons
                                        </div>

                                    </li>
                                    <li>
                                        <div class="course__star">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <span>(44)</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="course__details__paragraph" data-aos="fade-up">
                                <p>{{ course.description }}</p>
                            </div>

                            <h4 class="sidebar__title" data-aos="fade-up">Course Details</h4>
                            <div class="course__details__wraper" data-aos="fade-up">

                                <ul>
                                    <li>
                                        Instructor : <span>{{ course.user }}</span>
                                    </li>
                                    <li>
                                        Lectures : <span>120 sub</span>
                                    </li>
                                    <li>
                                        Duration : <span>{{ course.duration }}</span>
                                    </li>
                                    <li>
                                        Enrolled : <span>2 students</span>
                                    </li>
                                    <li>
                                        Total : <span>222 students</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        Course level : <span>Intermediate</span>
                                    </li>
                                    <li>
                                        Language : <span>English spanish</span>
                                    </li>
                                    <li>
                                        Price Discount : <span>${{ course.discounted_price }}</span>
                                    </li>
                                    <li>
                                        Regular Price : <span>${{ course.free_regular_price }}</span>
                                    </li>
                                    <li>
                                        Course Status : <span>Available</span>
                                    </li>
                                </ul>
                            </div>


                            <div class="course__details__tab__wrapper" data-aos="fade-up">
                                <!--Will work here later-->
                            </div>

                            <div class="course__list__wraper" data-aos="fade-up">
                                <div class="blog__details__heading__2">
                                    <h5>Why Search Courses Is Important?</h5>
                                </div>
                                <div class="aboutarea__list__2 blog__details__list__2" data-aos="fade-up">
                                    <ul>
                                        <li>
                                            <i class="icofont-check"></i>
                                            <p>Enhance your skills and knowledge.</p>
                                        </li>
                                        <li>
                                            <i class="icofont-check"></i>
                                            <p>Stay competitive in your field.</p>
                                        </li>
                                        <li>
                                            <i class="icofont-check"></i>
                                            <p>Discover new career opportunities.</p>
                                        </li>
                                        <li>
                                            <i class="icofont-check"></i>
                                            <p>Keep up with industry trends and advancements.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            

                            <div class="blog__details__tag" data-aos="fade-up">
                                <ul>
                                    <li class="heading__tag">
                                        Tag
                                    </li>
                                    <li>
                                        <a href="#">Business</a>
                                    </li>
                                    <li>
                                        <a href="#">Design</a>
                                    </li>
                                    <li>
                                        <a href="#">apps</a>
                                    </li>
                                    <li>
                                        <a href="#">data</a>
                                    </li>
                                </ul>
                                <ul class="share__list">
                                    <li class="heading__tag">
                                        Share
                                    </li>
                                    <li>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icofont-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>



                            <div class="online__course__wrap">
                                <div class="instructor__heading__2" data-aos="fade-up">
                                    <h3>Author More Project</h3>
                                    <a href="{% url 'all_courses' %}">More Courses...</a>
                                </div>

                                <div class="row instructor__slider__active row__custom__class" data-aos="fade-up">
                                    {% for course in courses %}
                                    <div class="col-xl-6 column__custom__class">
                                        <div class="gridarea__wraper">
                                            <div class="gridarea__img">
                                                <a href="{% url 'course_details' course.id %}"><img loading="lazy" src="{{ course.course_image.url }}" alt="grid"></a>
                                                <div class="gridarea__small__button">
                                                    <div class="grid__badge">{{ course.language }}</div>
                                                </div>
                                                <div class="gridarea__small__icon">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="gridarea__content">
                                                <div class="gridarea__list">
                                                    <ul>
                                                        <li><i class="icofont-book-alt"></i> {{ course.lesson_set }}</li>
                                                        <li><i class="icofont-clock-time"></i> {{ course.duration }}</li>
                                                    </ul>
                                                </div>
                                                <div class="gridarea__heading">
                                                    <h3><a href="{% url 'course_details' course.id %}">{{ course.title }}</a></h3>
                                                </div>
                                                <div class="gridarea__price">
                                                    ${{ course.discounted_price }} <del>/ ${{ course.free_regular_price }}</del>
                                                    <span> <del class="del__2">Free</del></span>
                                                </div>
                                                <div class="gridarea__bottom">
                                                    <a href="{% url 'instructor_details' course.user.instructor.id %}">
                                                        <div class="gridarea__small__img">
                                                            <!-- <img loading="lazy" src="{{ course.user.profile_picture.url }}" alt="grid"> -->
                                                            <div class="gridarea__small__content">
                                                                <h6>{{ course.user.get_full_name }}</h6>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="gridarea__star">
                                                        <i class="icofont-star"></i>
                                                        <i class="icofont-star"></i>
                                                        <i class="icofont-star"></i>
                                                        <i class="icofont-star"></i>
                                                        <i class="icofont-star"></i>
                                                        <span>(44)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>



                            <!-- <div class="blog__details__comment">
                                <div class="blog__details__comment__heading" data-aos="fade-up">
                                    <h5>(04) Comment</h5>
                                </div>
                                <div class="blog__details__comment__inner" data-aos="fade-up">
                                    <div class="author__img">
                                        <img loading="lazy"  src="{% static 'img/blog-details/blog-details__1.png' %}" alt="author">

                                    </div>
                                    <div class="author__content">
                                        <div class="author__name">
                                            <h6><a href="#">Rohan De Spond</a></h6>
                                            <p>25 january 2023</p>

                                        </div>
                                        <div class="author__text">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have. There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                                        </div>
                                    </div>
                                    <div class="author__icon">
                                        <button>                                        
                                        <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.91943 10.2031L12.1694 16.4531C13.3413 17.625 15.3726 16.8047 15.3726 15.125V12.3516C19.9819 12.5469 20.0991 13.5625 19.4351 15.8672C18.9272 17.5469 20.8413 18.9141 22.2866 17.9375C24.2788 16.5703 25.3726 14.8516 25.3726 12.3516C25.3726 6.76562 20.3726 5.67188 15.3726 5.47656V2.66406C15.3726 0.984375 13.3413 0.164062 12.1694 1.33594L5.91943 7.58594C5.17725 8.28906 5.17725 9.5 5.91943 10.2031ZM7.24756 8.875L13.4976 2.625V7.3125C18.1851 7.3125 23.4976 7.58594 23.4976 12.3516C23.4976 14.5391 22.3647 15.6328 21.2319 16.375C22.8335 11.0625 18.8491 10.4375 13.4976 10.4375V15.125L7.24756 8.875ZM0.919434 7.58594C0.177246 8.28906 0.177246 9.5 0.919434 10.2031L7.16943 16.4531C7.95068 17.2734 9.12256 17.1562 9.82568 16.4531L2.24756 8.875L9.82568 1.33594C9.12256 0.632812 7.95068 0.515625 7.16943 1.33594L0.919434 7.58594Z" fill="#121416"/>
                                        </svg>
                                    </button>
                                    </div>
                                </div>

                                <div class="blog__details__comment__inner author__padding__left" data-aos="fade-up">
                                    <div class="author__img">
                                        <img loading="lazy"  src="{% static 'img/blog-details/blog-details__2.png' %}" alt="author">

                                    </div>
                                    <div class="author__content">
                                        <div class="author__name">
                                            <h6><a href="#">Rohan De Spond</a></h6>
                                            <p>25 january 2023</p>

                                        </div>
                                        <div class="author__text">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have. There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                                        </div>
                                    </div>
                                    <div class="author__icon">
                                        <button>                                        
                                            <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.91943 10.2031L12.1694 16.4531C13.3413 17.625 15.3726 16.8047 15.3726 15.125V12.3516C19.9819 12.5469 20.0991 13.5625 19.4351 15.8672C18.9272 17.5469 20.8413 18.9141 22.2866 17.9375C24.2788 16.5703 25.3726 14.8516 25.3726 12.3516C25.3726 6.76562 20.3726 5.67188 15.3726 5.47656V2.66406C15.3726 0.984375 13.3413 0.164062 12.1694 1.33594L5.91943 7.58594C5.17725 8.28906 5.17725 9.5 5.91943 10.2031ZM7.24756 8.875L13.4976 2.625V7.3125C18.1851 7.3125 23.4976 7.58594 23.4976 12.3516C23.4976 14.5391 22.3647 15.6328 21.2319 16.375C22.8335 11.0625 18.8491 10.4375 13.4976 10.4375V15.125L7.24756 8.875ZM0.919434 7.58594C0.177246 8.28906 0.177246 9.5 0.919434 10.2031L7.16943 16.4531C7.95068 17.2734 9.12256 17.1562 9.82568 16.4531L2.24756 8.875L9.82568 1.33594C9.12256 0.632812 7.95068 0.515625 7.16943 1.33594L0.919434 7.58594Z" fill="#121416"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>


                                <div class="blog__details__comment__inner" data-aos="fade-up">
                                    <div class="author__img">
                                        <img loading="lazy"  src="{% static 'img/blog-details/blog-details__3.png' %}" alt="author">

                                    </div>
                                    <div class="author__content">
                                        <div class="author__name">
                                            <h6><a href="#">Rohan De Spond</a></h6>
                                            <p>25 january 2023</p>

                                        </div>
                                        <div class="author__text">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have. There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                                        </div>
                                    </div>
                                    <div class="author__icon">
                                        <button>                                        
                                            <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.91943 10.2031L12.1694 16.4531C13.3413 17.625 15.3726 16.8047 15.3726 15.125V12.3516C19.9819 12.5469 20.0991 13.5625 19.4351 15.8672C18.9272 17.5469 20.8413 18.9141 22.2866 17.9375C24.2788 16.5703 25.3726 14.8516 25.3726 12.3516C25.3726 6.76562 20.3726 5.67188 15.3726 5.47656V2.66406C15.3726 0.984375 13.3413 0.164062 12.1694 1.33594L5.91943 7.58594C5.17725 8.28906 5.17725 9.5 5.91943 10.2031ZM7.24756 8.875L13.4976 2.625V7.3125C18.1851 7.3125 23.4976 7.58594 23.4976 12.3516C23.4976 14.5391 22.3647 15.6328 21.2319 16.375C22.8335 11.0625 18.8491 10.4375 13.4976 10.4375V15.125L7.24756 8.875ZM0.919434 7.58594C0.177246 8.28906 0.177246 9.5 0.919434 10.2031L7.16943 16.4531C7.95068 17.2734 9.12256 17.1562 9.82568 16.4531L2.24756 8.875L9.82568 1.33594C9.12256 0.632812 7.95068 0.515625 7.16943 1.33594L0.919434 7.58594Z" fill="#121416"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                                <div class="blog__details__comment__inner author__padding__left" data-aos="fade-up">
                                    <div class="author__img">
                                        <img loading="lazy"  src="{% static 'img/blog-details/blog-details__4.png' %}" alt="author">

                                    </div>
                                    <div class="author__content">
                                        <div class="author__name">
                                            <h6><a href="#">Rohan De Spond</a></h6>
                                            <p>25 january 2023</p>

                                        </div>
                                        <div class="author__text">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have. There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                                        </div>
                                    </div>
                                    <div class="author__icon">
                                        <button>                                        
                                            <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.91943 10.2031L12.1694 16.4531C13.3413 17.625 15.3726 16.8047 15.3726 15.125V12.3516C19.9819 12.5469 20.0991 13.5625 19.4351 15.8672C18.9272 17.5469 20.8413 18.9141 22.2866 17.9375C24.2788 16.5703 25.3726 14.8516 25.3726 12.3516C25.3726 6.76562 20.3726 5.67188 15.3726 5.47656V2.66406C15.3726 0.984375 13.3413 0.164062 12.1694 1.33594L5.91943 7.58594C5.17725 8.28906 5.17725 9.5 5.91943 10.2031ZM7.24756 8.875L13.4976 2.625V7.3125C18.1851 7.3125 23.4976 7.58594 23.4976 12.3516C23.4976 14.5391 22.3647 15.6328 21.2319 16.375C22.8335 11.0625 18.8491 10.4375 13.4976 10.4375V15.125L7.24756 8.875ZM0.919434 7.58594C0.177246 8.28906 0.177246 9.5 0.919434 10.2031L7.16943 16.4531C7.95068 17.2734 9.12256 17.1562 9.82568 16.4531L2.24756 8.875L9.82568 1.33594C9.12256 0.632812 7.95068 0.515625 7.16943 1.33594L0.919434 7.58594Z" fill="#121416"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div> -->


                            <div class="blog__details__form">
                                <div class="blog__details__input__heading" data-aos="fade-up">
                                    <h5>Write your comment</h5>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6" data-aos="fade-up">
                                        <div class="blog__details__input">
                                            <input type="text" placeholder="Enter your name*">
                                        </div>
                                    </div>
                                    <div class="col-xl-6" data-aos="fade-up">
                                        <div class="blog__details__input">
                                            <input type="text" placeholder="Enter your mail**">
                                        </div>
                                    </div>
                                    <div class="col-xl-6" data-aos="fade-up">
                                        <div class="blog__details__input">
                                            <input type="text" placeholder="Enter your  number*">
                                        </div>
                                    </div>
                                    <div class="col-xl-6" data-aos="fade-up">
                                        <div class="blog__details__input">
                                            <input type="text" placeholder="Website*">
                                        </div>
                                    </div>
                                    <div class="col-xl-12" data-aos="fade-up">
                                        <div class="blog__details__input">
                                            <textarea cols="30" rows="10">Enter your Massage*</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__check__box" data-aos="fade-up">
                                    <input type="checkbox" checked="checked"> Save my name, email, and website in this browser for the next time I comment.
                                </div>
                            </div>
                            <div class="blog__details__button" data-aos="fade-up">
                                <a class="default__button" href="#">Post a Comment</a>
                            </div>

                        </div>
                    </div>


                    <div class="col-xl-4 col-lg-4">

                        <div class="course__details__sidebar">
                            <div class="event__sidebar__wraper" data-aos="fade-up">


                                <div class="blogarae__img__2 course__details__img__2" data-aos="fade-up">
                                    <img loading="lazy" src="{{ course.course_image.url }}" alt="blog">
                                
                                    <div class="registerarea__content course__details__video">
                                        <div class="registerarea__video">
                                            <div class="video__pop__btn">
                                                <a class="video-btn" href="{{ course.lesson_1 }}"> 
                                                    <img loading="lazy" src="{% static 'img/icon/video.png' %}" alt="">
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="event__price__wraper">

                                    <div class="event__price">
                                        ${{ course.discounted_price }} <del>/ ${{ course.free_regular_price }}</del>
                                    </div>
                                    <div class="event__Price__button">
                                        <a href="#">68% OFF</a>
                                    </div>
                                </div>

                                <div class="course__summery__button">
                                    <form action="{% url 'add_to_cart' course.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="default__button">Add To Cart</button>
                                    </form>
                                    <a class="default__button default__button--2" href="#">Buy Now</a>
                                    <span>
                                        <i class="icofont-ui-rotation"></i>
                                        45-Days Money-Back Guarantee
                                    </span>
                                </div>
                                
                                <div class="course__summery__lists">
                                    <ul>
                                        <li>
                                            <div class="course__summery__item">
                                                <span class="sb_label">Instructor:</span><span class="sb_content"><a href="instructor-details.html">D. Willaim</a></span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="course__summery__item">
                                                <span class="sb_label">Start Date</span><span class="sb_content">05 Dec 2024</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="course__summery__item">
                                                <span class="sb_label">Total Duration</span><span class="sb_content">08Hrs 32Min</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="course__summery__item">
                                                <span class="sb_label">Enrolled</span><span class="sb_content">100</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="course__summery__item">
                                                <span class="sb_label">Lectures</span><span class="sb_content">30</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="course__summery__item">
                                                <span class="sb_label">Skill Level</span><span class="sb_content">Basic</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="course__summery__item">
                                                <span class="sb_label">Language</span><span class="sb_content">Spanish</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="course__summery__item">
                                                <span class="sb_label">Quiz</span><span class="sb_content">Yes</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="course__summery__item">
                                                <span class="sb_label">Certificate</span><span class="sb_content">Yes</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="course__summery__button">
                                    <p>More inquery about course.</p>
                                    <a class="default__button default__button--3" href="tel:+4733378901"><i class="icofont-phone"></i> +47 333 78 901</a>
                                </div>


                            </div>


                            <div class="blogsidebar__content__wraper__2" data-aos="fade-up">

                                <h4 class="sidebar__title">Follow Us</h4>
                                <div class="follow__icon">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="icofont-facebook"></i></a>
                                        </li>

                                        <li>
                                            <a href="#"><i class="icofont-youtube-play"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icofont-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icofont-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icofont-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="blogsidebar__content__wraper__2" data-aos="fade-up">
                                <h4 class="sidebar__title">Popular Projects</h4>
                                <ul class="course__details__popular__list">
                                    {% for course in courses %}
                                    <li>
                                        <div class="course__details__popular__img">
                                            <img loading="lazy" src="{{ course.course_image.url }}" alt="popular" width="150px" height="100px">
                                        </div>
                                        <div class="course__details__popular__content">
                                            <span>${{ course.discounted_price }}</span>
                                            <h6><a href="{% url 'course_details' course.id %}">{{ course.title }}</a></h6>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="blogsidebar__content__wraper__2" data-aos="fade-up">

                                <h4 class="sidebar__title">Get in Touch</h4>
                                <div class="get__touch__input">
                                    <input type="text" placeholder="Enter name*">
                                    <input type="text" placeholder="Enter your mail*">
                                    <input type="text" placeholder="Massage*">
                                    <a class="default__button" href="#">SEND MASSAGE</a>
                                </div>

                            </div>

                            <div class="blogsidebar__content__wraper__2" data-aos="fade-up">

                                <h4 class="sidebar__title">Popular tag</h4>
                                <div class="populer__tag__list">
                                    <ul>
                                        <li><a href="{% url 'all_courses' %}">Business</a></li>
                                        <li><a href="{% url 'all_courses' %}">Design</a></li>
                                        <li><a href="{% url 'all_courses' %}">apps</a></li>
                                        <li><a href="{% url 'all_courses' %}">landing page</a></li>
                                        <li><a href="{% url 'all_courses' %}">data</a></li>
                                        <li><a href="{% url 'all_courses' %}">book</a></li>
                                        <li><a href="{% url 'all_courses' %}">Design</a></li>
                                        <li><a href="{% url 'all_courses' %}">book</a></li>
                                        <li><a href="{% url 'all_courses' %}">landing page</a></li>
                                        <li><a href="{% url 'all_courses' %}">data</a></li>
                                    </ul>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </main>
