{% extends 'base.html' %}
{% load static %}


<body class="body__wrapper">

    <main class="main_wrapper overflow-hidden">
        {% block content %}
        <!-- tution__section__start -->
        <div class="tution sp_bottom_100 sp_top_50">
            <div class="container-fluid full__width__padding">
                <div class="row">
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12" data-aos="fade-up">
        
                        <div class="accordion content__cirriculum__wrap" id="accordionExample">
                            {% for lesson in lessons %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
                                        Lesson #{{ forloop.counter }}
                                    </button>
                                </h2>
                                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-video-alt"></i>
                                                <h5> <a href="{{ lesson.url }}"><span>Lesson #{{ forloop.counter }}</span></a></h5>
                                            </div>
                                            <div class="scc__meta">
                                                <strong>Duration</strong>
                                                <a href="{{ lesson.url }}"><span class="question"><i class="icofont-eye"></i> Preview</span></a>
                                            </div>
                                        </div>
                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-video-alt"></i>
                                                <h5> <a href="#"><span>Course Outline</span></a></h5>
                                            </div>
                                            <div class="scc__meta">
                                                <strong>5.00</strong>
                                                <a href="#"><span class="question"><i class="icofont-eye"></i> Preview</span></a>
                                            </div>
                                        </div>
                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-file-text"></i>
                                                <h5> <a href="lesson-course-materials.html"><span>Course Materials</span></a></h5>
                                            </div>
                                        </div>
                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-audio"></i>
                                                <h5>  <a href="lesson-quiz.html"><span>Summer Quiz</span></a></h5>
                                            </div>
                                        </div>
                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-file-text"></i>
                                                <h5><a href="lesson-assignment.html"><span>Assignment</span></a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
        
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12" data-aos="fade-up">					
                        <div class="lesson__content__main">
                            <div class="lesson__content__wrap">
                                <h3>Video Content lesson 01</h3>
                                <span><a href="#">Close</a></span>
                            </div>
        
                            <div class="plyr__video-embed rbtplayer">
                                <iframe src="{{ lessons.0.video_url }}" allowfullscreen allow="autoplay"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        <!-- tution__section__end -->
        {% endblock %}
        
    </main>
