{% extends 'base.html' %}
{% load static %}


<body class="body__wrapper">

    <main class="main_wrapper overflow-hidden">

        {% block content %}
        <div class="breadcrumbarea">

            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content__wraper" data-aos="fade-up">
                            <div class="breadcrumb__title">
                                <h2 class="heading">Zoom Meetings</h2>
                            </div>
                            <div class="breadcrumb__inner">
                                <ul>
                                    <li><a href="{% url  'home' %}">Home</a></li>
                                    <li>Zoom Meetings and Webinars</li>
                                </ul>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="shape__icon__2">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__1" src="{% static '/img/herobanner/herobanner__1.png' %}" alt="photo">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__2" src="{% static '/img/herobanner/herobanner__2.png' %}" alt="photo">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__3" src="{% static '/img/herobanner/herobanner__3.png' %}" alt="photo">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__4" src="{% static '/img/herobanner/herobanner__5.png' %}" alt="photo">
            </div>

        </div>
        <!-- breadcrumbarea__section__end-->


		<div class="zoom__meetings sp_top_100 sp_bottom_70">
		    <div class="container-fluid full__width__padding">
		        <div class="row">

		            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
		                <div class="gridarea__wraper gridarea__wraper__2 zoom__meeting__grid ">
		                    <div class="gridarea__img">
		                        <a href="zoom-meeting-details.html"><img loading="lazy"  src="{% static '/img/zoom/1.jpg' %}" alt="grid"></a>
		                        <div class="gridarea__small__button">
		                            <div class="grid__badge">Development</div>
		                        </div>
		                        <div class="gridarea__small__icon">
		                            <a href="#"><i class="icofont-heart-alt"></i></a>
		                        </div>

		                    </div>
		                    <div class="gridarea__content ">
		                        <div class="gridarea__list">
		                            <ul>
		                                <li>
		                                    <i class="icofont-calendar"></i> Dec 22,2023
		                                </li>
		                                <li>
		                                    <i class="icofont-clock-time"></i> 1 hr 30 min
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="gridarea__heading">
		                            <h3><a href="zoom-meeting-details.html">Executive Assistant Meeting</a></h3>
		                        </div>

		                        <div class="zoom__meeting__time__id">
                                    <div class="zoom__meeting__time">  
                                        <p>
                                            Starting Time: 
                                            <span>6.00 PM</span>
                                        </p>
                                    </div>
		                            <div class="zoom__meeting__id">
		                                <p>Meeting ID :<span>952428993687</span></p>
		                            </div>
		                        </div>
		                        <div class="gridarea__bottom">

		                            <a href="instructor-details.html">
		                                <div class="gridarea__small__img">
		                                    <img loading="lazy"  src="{% static '/img/grid/grid_small_1.jpg' %}" alt="grid">
		                                    <div class="gridarea__small__content">
		                                        Speaker: <h5>Mirnsdo .H</h5>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>

		                    </div>
		                </div>
		            </div>

		            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
		                <div class="gridarea__wraper gridarea__wraper__2 zoom__meeting__grid">
		                    <div class="gridarea__img">
		                        <a href="zoom-meeting-details.html"><img loading="lazy"  src="{% static '/img/zoom/2.jpg' %}" alt="grid"></a>
		                        <div class="gridarea__small__button">
		                            <div class="grid__badge blue__color">Managing</div>
		                        </div>
		                        <div class="gridarea__small__icon">
		                            <a href="#"><i class="icofont-heart-alt"></i></a>
		                        </div>

		                    </div>
		                    <div class="gridarea__content">
		                        <div class="gridarea__list">
		                            <ul>
		                                <li>
		                                    <i class="icofont-calendar"></i> Dec 25,2023
		                                </li>
		                                <li>
		                                    <i class="icofont-clock-time"></i> 2 hr 30 min
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="gridarea__heading">
		                            <h3><a href="zoom-meeting-details.html">Website Renovation Meeting</a></h3>
		                        </div>

		                        <div class="zoom__meeting__time__id">
                                    <div class="zoom__meeting__time">  
                                        <p>
                                            Starting Time: 
                                            <span>5.00 PM</span>
                                        </p>
                                    </div>
		                            <div class="zoom__meeting__id">
		                                <p>Meeting ID :<span>952429936777</span></p>
		                            </div>
		                        </div>
		                        <div class="gridarea__bottom">

		                            <a href="instructor-details.html">
		                                <div class="gridarea__small__img">
		                                    <img loading="lazy"  src="{% static '/img/grid/grid_small_2.jpg' %}" alt="grid">
		                                    <div class="gridarea__small__content">
		                                        Speaker: <h5>Mirnsdo .H</h5>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>

		                    </div>
		                </div>
		            </div>

		            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
		                <div class="gridarea__wraper gridarea__wraper__2 zoom__meeting__grid">
		                    <div class="gridarea__img">
		                        <a href="zoom-meeting-details.html"><img loading="lazy"  src="{% static '/img/zoom/3.jpg' %}" alt="grid"></a>
		                        <div class="gridarea__small__button">
		                            <div class="grid__badge green__color">Marketing</div>
		                        </div>
		                        <div class="gridarea__small__icon">
		                            <a href="#"><i class="icofont-heart-alt"></i></a>
		                        </div>

		                    </div>
		                    <div class="gridarea__content">
		                        <div class="gridarea__list">
		                            <ul>
		                                <li>
		                                    <i class="icofont-calendar"></i> Dec 29,2023
		                                </li>
		                                <li>
		                                    <i class="icofont-clock-time"></i> 3 hr 30 min
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="gridarea__heading">
		                            <h3><a href="zoom-meeting-details.html">Marketing Committee Meeting</a></h3>
		                        </div>
		                        <div class="zoom__meeting__time__id">
                                    <div class="zoom__meeting__time">  
                                        <p>
                                            Starting Time: 
                                            <span>4.00 PM</span>
                                        </p>
                                    </div>
		                            <div class="zoom__meeting__id">
		                                <p>Meeting ID :<span>952428993999</span></p>
		                            </div>
		                        </div>
		                        <div class="gridarea__bottom">

		                            <a href="instructor-details.html">
		                                <div class="gridarea__small__img">
		                                    <img loading="lazy"  src="{% static '/img/grid/grid_small_3.jpg' %}" alt="grid">
		                                    <div class="gridarea__small__content">
		                                        Speaker: <h5>Nidhsdo</h5>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
		                <div class="gridarea__wraper gridarea__wraper__2 zoom__meeting__grid">
		                    <div class="gridarea__img">
		                        <a href="zoom-meeting-details.html"><img loading="lazy"  src="{% static '/img/zoom/4.jpg' %}" alt="grid"></a>
		                        <div class="gridarea__small__button">
		                            <div class="grid__badge yellow__color">Leading</div>
		                        </div>
		                        <div class="gridarea__small__icon">
		                            <a href="#"><i class="icofont-heart-alt"></i></a>
		                        </div>

		                    </div>
		                    <div class="gridarea__content">
		                        <div class="gridarea__list">
		                            <ul>
		                                <li>
		                                    <i class="icofont-calendar"></i> Dec 29,2023
		                                </li>
		                                <li>
		                                    <i class="icofont-clock-time"></i> 3 hr 30 min
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="gridarea__heading">
		                            <h3><a href="zoom-meeting-details.html">Teacher Leader Team Meeting</a></h3>
		                        </div>
		                        <div class="zoom__meeting__time__id">
                                    <div class="zoom__meeting__time">  
                                        <p>
                                            Starting Time: 
                                            <span>7.00 AM</span>
                                        </p>
                                    </div>
		                            <div class="zoom__meeting__id">
		                                <p>Meeting ID :<span>952428993555</span></p>
		                            </div>
		                        </div>
		                        <div class="gridarea__bottom">

		                            <a href="instructor-details.html">
		                                <div class="gridarea__small__img">
		                                    <img loading="lazy"  src="{% static '/img/grid/grid_small_4.jpg' %}" alt="grid">
		                                    <div class="gridarea__small__content">
		                                        Speaker: <h5>Rbdnsdo .H</h5>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
		                <div class="gridarea__wraper gridarea__wraper__2 zoom__meeting__grid">
		                    <div class="gridarea__img">
		                        <a href="zoom-meeting-details.html"><img loading="lazy"  src="{% static '/img/zoom/5.jpg' %}" alt="grid"></a>
		                        <div class="gridarea__small__button">
		                            <div class="grid__badge">Responsibilities</div>
		                        </div>
		                        <div class="gridarea__small__icon">
		                            <a href="#"><i class="icofont-heart-alt"></i></a>
		                        </div>

		                    </div>
		                    <div class="gridarea__content">
		                        <div class="gridarea__list">
		                            <ul>
		                                <li>
		                                    <i class="icofont-calendar"></i> Dec 30,2023
		                                </li>
		                                <li>
		                                    <i class="icofont-clock-time"></i> 2 hr 00 min
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="gridarea__heading">
		                            <h3><a href="zoom-meeting-details.html">Team member responsibilities</a></h3>
		                        </div>
		                        <div class="zoom__meeting__time__id">
                                    <div class="zoom__meeting__time">  
                                        <p>
                                            Starting Time: 
                                            <span>7.00 AM</span>
                                        </p>
                                    </div>
		                            <div class="zoom__meeting__id">
		                                <p>Meeting ID :<span>952428993555</span></p>
		                            </div>
		                        </div>
		                        <div class="gridarea__bottom">

		                            <a href="instructor-details.html">
		                                <div class="gridarea__small__img">
		                                    <img loading="lazy"  src="{% static '/img/grid/grid_small_4.jpg' %}" alt="grid">
		                                    <div class="gridarea__small__content">
		                                        Speaker: <h5>Rbdnsdo .H</h5>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
		                <div class="gridarea__wraper gridarea__wraper__2 zoom__meeting__grid">
		                    <div class="gridarea__img">
		                        <a href="zoom-meeting-details.html"><img loading="lazy"  src="{% static '/img/zoom/6.jpg' %}" alt="grid"></a>
		                        <div class="gridarea__small__button">
		                            <div class="grid__badge blue__color">Planning</div>
		                        </div>
		                        <div class="gridarea__small__icon">
		                            <a href="#"><i class="icofont-heart-alt"></i></a>
		                        </div>

		                    </div>
		                    <div class="gridarea__content">
		                        <div class="gridarea__list">
		                            <ul>
		                                <li>
		                                    <i class="icofont-calendar"></i> Dec 25,2023
		                                </li>
		                                <li>
		                                    <i class="icofont-clock-time"></i> 2 hr 30 min
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="gridarea__heading">
		                            <h3><a href="zoom-meeting-details.html">Strategic Planning Meeting</a></h3>
		                        </div>
		                        <div class="zoom__meeting__time__id">
                                    <div class="zoom__meeting__time">  
                                        <p>
                                            Starting Time: 
                                            <span>8.00 PM</span>
                                        </p>
                                    </div>
		                            <div class="zoom__meeting__id">
		                                <p>Meeting ID :<span>952428993688</span></p>
		                            </div>
		                        </div>
		                        <div class="gridarea__bottom">

		                            <a href="instructor-details.html">
		                                <div class="gridarea__small__img">
		                                    <img loading="lazy"  src="{% static '/img/grid/grid_small_5.jpg' %}" alt="grid">
		                                    <div class="gridarea__small__content">
		                                        Speaker: <h5>Soytan Mind</h5>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
		                <div class="gridarea__wraper gridarea__wraper__2 zoom__meeting__grid">
		                    <div class="gridarea__img">
		                        <a href="zoom-meeting-details.html"><img loading="lazy"  src="{% static '/img/zoom/7.jpg' %}" alt="grid"></a>
		                        <div class="gridarea__small__button">
		                            <div class="grid__badge green__color">Cultural</div>
		                        </div>
		                        <div class="gridarea__small__icon">
		                            <a href="#"><i class="icofont-heart-alt"></i></a>
		                        </div>

		                    </div>
		                    <div class="gridarea__content">
		                        <div class="gridarea__list">
		                            <ul>
		                                <li>
		                                    <i class="icofont-calendar"></i> Dec 29,2023
		                                </li>
		                                <li>
		                                    <i class="icofont-clock-time"></i> 3 hr 30 min
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="gridarea__heading">
		                            <h3><a href="zoom-meeting-details.html">Student Committee Meeting</a></h3>
		                        </div>
		                        <div class="zoom__meeting__time__id">
                                    <div class="zoom__meeting__time">  
                                        <p>
                                            Starting Time: 
                                            <span>7.00 AM</span>
                                        </p>
                                    </div>
		                            <div class="zoom__meeting__id">
		                                <p>Meeting ID :<span>952428993555</span></p>
		                            </div>
		                        </div>
		                        <div class="gridarea__bottom">

		                            <a href="instructor-details.html">
		                                <div class="gridarea__small__img">
		                                    <img loading="lazy"  src="{% static '/img/grid/grid_small_4.jpg' %}" alt="grid">
		                                    <div class="gridarea__small__content">
		                                        Speaker: <h5>Runded Min</h5>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
		                <div class="gridarea__wraper gridarea__wraper__2 zoom__meeting__grid">
		                    <div class="gridarea__img">
		                        <a href="zoom-meeting-details.html"><img loading="lazy"  src="{% static '/img/zoom/8.jpg' %}" alt="grid"></a>
		                        <div class="gridarea__small__button">
		                            <div class="grid__badge yellow__color">Business</div>
		                        </div>
		                        <div class="gridarea__small__icon">
		                            <a href="#"><i class="icofont-heart-alt"></i></a>
		                        </div>

		                    </div>
		                    <div class="gridarea__content">
		                        <div class="gridarea__list">
		                            <ul>
		                                <li>
		                                    <i class="icofont-calendar"></i> Dec 29,2023
		                                </li>
		                                <li>
		                                    <i class="icofont-clock-time"></i> 3 hr 30 min
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="gridarea__heading">
		                            <h3><a href="zoom-meeting-details.html">Business Leader Team Meeting</a></h3>
		                        </div>
		                        <div class="zoom__meeting__time__id">
                                    <div class="zoom__meeting__time">  
                                        <p>
                                            Starting Time: 
                                            <span>7.00 PM</span>
                                        </p>
                                    </div>
		                            <div class="zoom__meeting__id">
		                                <p>Meeting ID :<span>952428993698</span></p>
		                            </div>
		                        </div>
		                        <div class="gridarea__bottom">

		                            <a href="instructor-details.html">
		                                <div class="gridarea__small__img">
		                                    <img loading="lazy"  src="{% static '/img/grid/grid_small_1.jpg' %}" alt="grid">
		                                    <div class="gridarea__small__content">
		                                        Speaker: <h5>Jhon Sina</h5>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </div>

		        </div>
		    </div>
		</div>
        {% endblock %}
    </main>
